.map-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.svg-container {
  grid-column: 1 / 4;
}

.svg-container svg {
  width: 100%;
  height: auto;
}

.map-filtering-container {
  grid-column: 4 / 6;
}

@media (max-width: 992px) {
  .map-grid {
    grid-template-columns: 1fr;
  }
}
