.airline-container svg {
  width: 100%;
  height: auto;
}

.link {
  fill: none;
  stroke: var(--primary);
  pointer-events: none;
  z-index: 9999;
}

.link.active {
  fill: none;
  stroke: var(--primary);
  stroke-opacity: 0.6;
}

.airline-rect {
  fill: var(--primary);
  fill-opacity: 0.3;
}

.airline-text {
  fill: var(--color);
  font-weight: 700;
  fill-opacity: 1;
}
