.bars-container svg {
  width: 100%;
  height: auto;
}

.bar {
  fill: var(--primary);
  fill-opacity: 1;
}

.bar-year {
  fill: var(--contrast);
  font: 700 var(--font-size) var(--font-family);
}

.bar-text {
  fill: white;
  font: 700 var(--font-size) var(--font-family);
}

.bar-text-value {
  fill: white;
  font: var(--font-weight) var(--font-size) var(--font-family);
}

.bar-axis {
  stroke: var(--contrast);
}
