body {
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 2rem;
  align-items: center;
}

.big-60 {
  grid-column: 1 / 4;
  position: relative;
}

.small-40 {
  grid-column: 4 / 6;
}

.grid.reverse {
  grid-auto-flow: dense;
}

.grid.reverse > .big-60 {
  grid-column: 3 / 6;
}

.grid.reverse > .small-40 {
  grid-column: 1 / 3;
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .big-60 {
    grid-column: 1 / 2;
  }

  .small-40 {
    grid-column: 1 / 2;
  }

  .grid.reverse > .big-60 {
    grid-column: 1 / 2;
  }

  .grid.reverse > .small-40 {
    grid-column: 1 / 2;
  }
}

.quote-text {
  margin: 0 auto;
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  color: var(--contrast);
}

.title-text {
  margin: 0 auto;
  color: var(--background-color);
}

.title-image {
  background: url("../images/plane-crash.jpg");
  background-size: cover;
  background-position: 10%;
}

.title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(80vh - var(--spacing));
}

.text-container {
  max-width: 576px;
  margin: 0 auto;
  text-align: center;
}

.title-image {
  width: 100%;
}
.container-full {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  overflow-y: visible;
}

section.container-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing);
}

.model-inputs {
  display: flex;
  align-items: center;
}

.model-select {
  flex: 4 4 250px;
}

.radio-btns {
  flex: 2 2 250px;
  margin: var(--spacing);
}

.radio-btns input {
  margin: 0 auto;
}

.btns {
  flex: 0 1 30px;
  margin: 0;
}

#popup {
  width: 170px;
  padding: 10px;
  font-family: Arial, sans-serif;
  color: black;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.5),
    0 8px 10px -6px rgb(0 0 0 / 0.5);
  position: fixed;
  display: none;
  pointer-events: none;
}

#selected-state {
  text-align: center;
}
