.map-container svg {
  width: 100%;
  height: auto;
}

.map-filtering-container h3 {
  margin-bottom: 0;
}

.bubble {
  fill: var(--primary);
  opacity: 0.5;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 0.5;
  pointer-events: none;
}

.state-line {
  fill: var(--contrast);
  stroke: var(--background-color);
  stroke-width: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.state-line.active {
  fill: var(--primary);
}

.state {
  fill: var(--contrast);
}
